@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	user-select: none;
}

html {
	overflow-y: scroll;
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: lavender;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -99;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(166, 166, 231);
	overflow: hidden;
	background: url(https://cdn.pixabay.com/photo/2013/09/03/19/46/bud-178723_960_720.jpg);
	-webkit-filter: blur(150px);
	filter: blur(150px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: .5s ease;
}

.container {
	width: 1260px;
	margin: 0 auto;
}

.info ul {
	width: 500px;
	color: lavender;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	margin: 60px auto;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	animation: fade 1s;
	transition: all .5s;
}

.info ul li {
	padding: 5px;
}

.showpost {
	cursor: pointer;
	animation: fade 1s;
	transition: all .5s;
}

.hidepost {
	display: none;
	cursor: pointer;
	animation: fade 1s;
	transition: all .5s;
}

#display:checked ~ .info > ul > label > .showpost {
	display: none;
	animation: fade 1s;
	transition: all .5s;
}

#display:checked ~ .info > ul > label > .hidepost {
	display: block;
	animation: fade 1s;
	transition: all .5s;
}

.fa-align-right,
.fa-times {
	display: block;
	font-size: 35px;
	margin-left: 20px;
	width: 1.6em;
	text-align: center;
	line-height: 1.6em !important;
	border-radius: 0.8em !important;
	color: #fff;
	background: rgb(115, 66, 155);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
	cursor: pointer;
	transition: all .5s;
}

.fa-times {
	color: red;
	background: #fff;
}

.slider_wrapper {
	position: relative;
	width: 850px;
	padding: 10px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	transform: scale(0);
	transform-origin: center;
	background-color: whitesmoke;
	box-shadow: 0px 7px 6px -6px #444;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .6);
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	transition: all .5s;
	animation: fade 1s;
}

.notice {
	transform: scaleX(0);
	transition: transform .5s ease;
}

#display:checked ~ .info > ul > label > .notice {
	transform: scaleX(1);
	transition: transform .5s ease;
}

#display:checked ~ .slider_wrapper {
	transform: scale(1);
	transition: all .5s;
}

.slider-content {
	position: absolute;
	width: 100%;
	padding: 10px;
	margin: 20px 0px 0px;
	bottom: 100%;
	display: flex;
	transform: scaleY(0);
	transform-origin: top;
	animation: fade 1s;
	transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slider-content__image {
	position: absolute;
	width: 35%;
	left: 0;
	margin-left: 10px;
	height: 266px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	transition: all .5s;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .3s ease-in-out;
}

input {
	display: none;
}

#img-expand:checked ~ label div.slider-content__image {
	width: 100%;
	height: 311px;
	margin-left: 0;
	z-index: 99;
	transition: all .5s;
	border-top-left-radius: initial !important;
	border-bottom-right-radius: initial !important;
}

.slider-content__text {
	width: 63%;
	font-size: 16px;
	line-height: 1.4rem;
	padding: 10px;
	margin-left: auto;
	margin-right: 0;
	transition: all .5s;
}

#img-expand:checked ~ label div.slider-content__text {
	transition: all .5s;
	transform: translateX(1000px);
}

.slider-header {
	display: flex;
	justify-content: space-between;
}

.slider-title {
	width: 50%;
	color: #5a229f;
	padding-bottom: 20px;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

h1.slider-date {
	font-size: 16px;
	margin-bottom: 10px;
}

.slider-item p {
	font-size: 15px;
	padding-bottom: 10px;
}

.btn-linkedup {
	font-size: 1.15rem;
	font-weight: 600;
	width: 100%;
	padding: 10px;
	margin: 15px 0px;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-image: linear-gradient(to right top, #8b49dc, #7a3cc7, #6a2fb3, #5a229f, #4a148c);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	transition: all .2s;
}

.btn-linkedup:hover {
	transform: translateY(-4px);
	opacity: .8;
}

/*== social media properties ==*/

.social-media__content {
	display: flex;
}

.social-media__content a > i {
	margin: 0 6px;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

i.fa,
.fab {
	/* font-size: 1.3em;  */
	width: 1.6em;
	text-align: center;
	line-height: 1.6em !important;
	border-radius: 0.8em !important;
	background: #fff;
}

i.fa:hover,
.fab:hover {
	background: transparent;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.linkedin i {
	color: #007bb5;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.github i {
	color: #000;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.facebook i {
	color: #3b5998;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.twitter i {
	color: #1da1f2;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.instagram i {
	color: #c32aa3;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.social-media__content i:hover {
	color: rgb(109, 36, 177);
	transform: scale(1.2);
}

/*=======================================================================*/

/* The rectangle indicators */

.slider-navigation {
	display: flex;
	margin-bottom: 15px;
	justify-content: center;
	transition: all .5s;
}

#img-expand:checked ~ .slider-navigation {
	margin-bottom: 10px;
	margin-top: 35px;
	transition: all .5s;
}

.navigation-links {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.rectangle,
.rectangle-1,
.rectangle-2,
.rectangle-3 {
	cursor: pointer;
	height: 10px;
	width: 100px;
	margin: 0 5px;
	background: #ffff00;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
	transition: 1s ease;
}

.rectangle:hover {
	background: #6a2fb3;
}

/* == Toggle slides pages == */

#activate-link:checked ~ label > .slider-content:nth-child(1),
#activate-link-1:checked ~ label > .slider-content:nth-child(2),
#activate-link-2:checked ~ label > .slider-content:nth-child(3),
#activate-link-3:checked ~ label > .slider-content:nth-child(4) {
	position: relative;
	transform: scaleY(1);
	transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#activate-link:checked ~ .slider-navigation > div.navigation-links > label > div.rectangle {
	background: rgb(207, 14, 14);
	transition: .3s ease;
}

#activate-link-1:checked ~ .slider-navigation > div.navigation-links > label > div.rectangle-1 {
	background: rgb(207, 14, 14);
	transition: .3s ease;
}

#activate-link-2:checked ~ .slider-navigation > div.navigation-links > label > div.rectangle-2 {
	background: rgb(207, 14, 14);
	transition: .3s ease;
}

#activate-link-3:checked ~ .slider-navigation > div.navigation-links > label > div.rectangle-3 {
	background: rgb(207, 14, 14);
	transition: .3s ease;
}

/* Fading animation */

@-webkit-keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 540px) {
	.container {
		width: auto;
	}

	.info ul {
		width: 100%;
		margin: initial;
	}

	.showpost {
		color: #fff;
		padding-top: 5px;
		display: flex;
		justify-content: space-between;
	}

	.hidepost > span {
		opacity: 0;
	}

	.notice {
		display: none;
	}

	.fa-align-right,
	.fa-times {
		font-size: 20px;
		margin-left: initial;
		width: initial;
		text-align: initial;
		line-height: 20px !important;
		border-radius: initial;
		box-shadow: none;
		background: none;
		cursor: pointer;
	}

	.fa-times {
		background-color: transparent;
	}

	#display:checked ~ .info > ul > label > .hidepost {
		display: flex;
		color: #5a229f;
		padding-top: 5px;
		justify-content: space-between;
		background-color: rgba(255, 255, 255, .9);
	}

	.slider_wrapper {
		margin: initial;
		width: 100%;
		background-color: rgba(255, 255, 255, .9);
	}

	.slider-content {
		padding: initial;
		margin: initial;
		flex-direction: column;
	}

	.slider-content__text {
		width: 100%;
		padding: 0;
		margin-left: initial;
		margin-right: initial;
	}

	.slider-content__image {
		position: relative;
		width: 100%;
		height: 266px;
		margin-left: initial;
		border-top-left-radius: initial;
		border-bottom-right-radius: initial;  
	}

	#img-expand:checked ~ label div.slider-content__text {
		display: none;
		transition: all .5s;
	}

	#img-expand:checked ~ label div.slider-content__image {
		height: 540px;
		transition: all .5s;
	}

	.slider-header {
		width: 100%;
		margin: 20px 0px 15px;
	}

	.slider-title {
		padding-bottom: 0px;
	}

	.rectangle,
	.rectangle-1,
	.rectangle-2,
	.rectangle-3 {
		width: 81px;
	}

	.btn-linkedup {
		width: 100%;
		margin: 10px 0px;
	}

	.overlay {
		filter: blur(0px);
	}
}

@media screen and (min-width: 540px) and (max-width: 667px) {
	.slider-content__image {
		height: 286px;
	}
}

@media screen and (min-width: 540px) and (max-width: 780px) {
	.container {
		width: auto;
	}

	.slider_wrapper {
		margin: initial;
		width: 100%;
	}
}
